# GCP IAM Environment Variables
PORT=3003
JWT_SECRET=your-secure-jwt-secret-min-32-chars
ADMIN_PASSWORD_HASH=
ADMIN_PASSWORD_SALT=
MEMBER_PASSWORD_HASH=
MEMBER_PASSWORD_SALT=
SA_PASSWORD_HASH=
SA_PASSWORD_SALT=
